<!DOCTYPE html>

<%- include('../includes/head', {title: `Update ${article.title} | Johannes Blog`}) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <h2>Updating "<%=article.title%>"</h2>

        <form action="/articles/<%=article.slug%>" method="post">
            <label for="article-title-input">Title</label><br>
            <input name="title" class="input-item" id="article-title-input"  value="<%=article.title%>" type="text" placeholder="enter title here" required><br>
            <label for="article-content-textarea">Content</label>
            <textarea name="content" id="article-content-textarea" placeholder="enter content of article" required><%=article.content%></textarea>
            <input name="date" type="date" required><br>

            <button class="btn">publish</button>
        </form>
    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>