<!DOCTYPE html>

<%- include('../includes/head', { title: 'All articles | Johannes Blog' }) %>
<body>
    <%- include('../includes/header') %>

    <main>
        <div class="container">
            <h2>All my Articles</h2>
            <div class="articles-container">

                <%  articles.forEach(article => { %>
            
                    <a href="/articles/<%= article.slug %>" class="article-card-link">
                        <div class="article-card">
                            <div>
                                <img src="/images/demo-img.jpg" alt="">
                            </div>
                            <div>
                                <h6 class="article-card-date"><%= article.date %></h6>
                                <p class="article-card-title"><%= article.title %></p>
                                
                            </div>
                        </div>

                    </a>
                       
    
                <% }) %>

                <div class="article-card">
                    <div>
                        <img src="/images/demo-img.jpg" alt="">
                    </div>
                    <div>
                        <p>article date</p>
                        <h6>article title</h6>
                    </div>
                </div>
        
                <div class="article-card">
                    <div>
                        <img src="/images/demo-img.jpg" alt="">
                    </div>
                    <div>
                        <p class="article-card-date">article date</p>
                        <h6 class="">article title</h6>
                    </div>
                </div>

                <div class="article-card">
                    <div>
                        <img src="/images/demo-img.jpg" alt="">
                    </div>
                    <div>
                        <p>article date</p>
                        <h6>article title</h6>
                    </div>
                </div>
        
                <div class="article-card">
                    <div>
                        <img src="/images/demo-img.jpg" alt="">
                    </div>
                    <div>
                        <p>article date</p>
                        <h6>article title</h6>
                    </div>
                </div>
            </div>
        </div>
    
  

        
        <% if(articles.length < 1) { %>
            <p>no articles currently on display</p>
        <% } %>
        
    </main>

    <%- include('../includes/footer') %>
    
</body>
</html>