<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: `${article.title} | Johannes Blog`}) %>

<body>
    <%- include('../includes/header')%>
    
    <main>
        <div class="container">
            <div class="article-show">
                <div>
                    <h1 class="article-header"><%= article.title%></h1>
                </div>
                <div>
                    <p>
                        <%= article.content %>
                    </p>

                </div>
                <div>
                    <%= article.date %>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer') %>
</body>
</html>