<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum | Johannes Blog</title>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="forum-back">
    <%- include('../includes/header') %>

    <main>
        <div class="forum-container">
            <h3 class="forum-title">MY PERSONAL TWITTER hehe</h3>
            <div class="post-input-area">
                <form action="/posts" method="post" class="forum-form">
                    <textarea name="text" placeholder="What's happening, <%= user.username %>?" id="post-input" required="true"></textarea>
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <button class="btn strech" id="post-btn">Post</button>
                </form>
            </div>
    
    
            <div>
                <%  posts.forEach(post => { %>
                    <% const commentReplies = replies.filter(reply => reply.post.toString() == post._id.toString()) %>
                    <div class="post"> 
                        <div class="post-inner">
                            <img src="/images/grinsebacke.jpeg" class="profile-pic">
                            <div>
                                <p class="handle"><%=post.username %></p>
                                <p class="post-text"><%= post.postText %></p>
                                <div class="post-details">
                                    <span class="post-detail">
                                        <i class="fa-regular fa-comment-dots"
                                        data-reply="<%= post._id %>"
                                        data-username="<%= post.username %>"
                                        ></i>
                                        <%= commentReplies.length %>
                                    </span>
                                    <span class="post-detail">
                                        <i id="like-<%= post._id %>" class="fa-solid fa-heart"
                                        data-like="<%= post._id %>"
                                        ></i>
                                        <span like-count="<%= post._id %>">
                                            <%= post.likes %>
                                        </span>
                                    </span>
                                    <span class="post-detail">
                                        <i id="repost-<%= post._id %>" class="fa-solid fa-retweet"
                                        data-repost="<%= post._id %>"
                                        ></i>
                                        <%= post.retweets %>
                                    </span>
                                    <span class="post-detail">
                                        <i class="fa-solid fa-upload" data-upload="<%= post._id %>"></i>
                                    </span>

                                    <%if (post.username === user.username ) { %>
                                        <span >
                                        <i class="fa-solid fa-trash"
                                        data-deletes="<%= post._id %>"
                                        ></i>
                                        </span>
                                    <% } %>
                                </div>  


                                <div class="hidden" id="replies-<%= post._id %>">
                                    <% commentReplies.forEach(commentReply => { %>
                                        <div class="post-inner reply-section">
                                            <img src="/images/grinsebacke.jpeg" class="profile-pic">
                                            <div>
                                                <p class="handle"><%= commentReply.username %></p>
                                                <p class="post-text"><%=commentReply.replyText%></p>
                                            </div>
                                            
                                        </div>
                                    
                                    
                                    <% }) %>
                                    <div class="comment-section">
                                        <form class="comment-form" method="post" action="/forum/comment-under/<%= post._id %>">
                                            <textarea name="text" class="comment-textarea" placeholder="write a comment" id="comment-under-<%= post._id %>" required></textarea>
                                            <input type="hidden" name="username" value="<%= user.username %>">
                                            <button class="comment-btn" id="comment-btn">send</button>
                                        </form>
                                    </div>
                            
                                </div>  
                            </div>             
                        </div>
                      

                       

                           
                    </div>
                <% }) %>
            </div>
            
            <div>
                <% if(posts.length < 1) { %>
                    <p>be the first to write a post</p>
                <% } %>
            </div>
        </div>

		
    </main>

    <%- include('../includes/footer') %>
    <script src="java/forum.js" type="module"></script>
</body>
</html>